.Node{
    width: 20px;
    height:20px;
    float: left;
    border: solid 0.05px rgb(186, 233, 253);
    box-sizing: border-box;
}

.Node-isFinish{
    cursor: pointer;
    width: 20px;
    height:20px;
    float: left;
    /* border: solid 0.1px aquamarine; */
    background: red;
    box-sizing: border-box;
}

.Node-isStart{
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
    /* border: solid 0.1px aquamarine; */
    background: green;
    box-sizing: border-box;
}

.Node-isWall{
    width: 20px;
    height: 20px;
    float: left;
    /* border: solid 0.1px aquamarine; */
    background-color: rgb(12, 53, 71);
    box-sizing: border-box;
}

.Node-isVisited{
    width: 20px;
    height: 20px;
    float: left;
    border: solid 0.1px rgb(186, 233, 253);
    background: lightblue;
    animation-name: Node-animation;
    animation-duration: 4s;
    box-sizing: border-box;
}

.Node-isPath{
    width: 20px;
    height: 20px;
    float: left;
    /* border: solid 0.1px aquamarine; */
    background: #dbe823;
    /* animation-name: Node-animation; */
    animation-duration: 3s;
    box-sizing: border-box;
}

@keyframes Node-animation{
    from {background-color: darkblue;}
    to {background-color: lightblue;}
}

