.Clear{
    clear: left;
}

.Header{
    background: rgb(12, 53, 71);
    float: left;
    height: 60px;
    width: 100%;
    padding-left: 120px;
    padding-top: 13px;
    box-sizing: border-box;
    align-content: center;
    margin: 0px 10px 50px 0px;
    position: relative;
}

.Grid{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    clear: both;
    /* background: blue; */
    /* border: solid 2px black; */
}


button, select{
    border: none;
    background-color: rgb(12, 53, 71);
    color: white;
    margin-left: 25px;
}

button:hover, select:hover{
    cursor: pointer;
    color: #1abc9c;
}

option{
    color: white;
}

.VisualizeAlgorithmButton{
    height: 40px;
    border: solid 2px #1abc9c;
    background-color: #1abc9c !important;
}

.VisualizeAlgorithmButton:hover{
    opacity: 0.9;
    border: solid 2px #1abc9c;
    color: white;
    background-color: #1abc9c !important;
}
