.Clear{
    clear: left;
}

/* .Node{
    width: 18px;
    height: 18px;
    float: left;
    display: block;
    border:solid 0.8px aquamarine;
} */

.Grid{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    /* background: blue; */
    /* border: solid 2px black; */
}

.VisualizeAlgorithmButton{
    margin: 10px 40% 1px;
    height: 50px;
    width: 200px;
    border: solid 1px black;
}


