.Clear{
    clear: left;
}

.Header{
    float: left;
    height: 70px;
    width: 95%;
    padding-left: 120px;
    padding-top: 13px;
    box-sizing: border-box;
    align-content: center;
    margin: 0px 10px 13px 10px;
    position: relative;
}

.Grid{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    clear: both;
    /* background: blue; */
    /* border: solid 2px black; */
}

.VisualizeAlgorithmButton{
    height: 40px;
}


